:root {
  --blue: #17116d;
  --back: rgb(11, 11, 247);
}

* {
  box-sizing: border-box;
}

/* body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--blue);
  color: #fff;
}

.header nav ul {
  display: flex;
  background-color: var(--blue);
  justify-content: space-between;
  min-width: 300px;
}

.header li {
  background-color: var(--blue);
}

a {
  color: white;
  background-color: var(--blue);
  text-decoration: none;
}

h1 {
  font-size: 200%;
  background-color: var(--blue);
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.about-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  border-right: 20px solid var(--blue);
  text-align: center;
  font-size: 400%;
  color: rgb(58, 56, 56);
}

.about-content {
  justify-content: flex-end;
  margin-left: 20px;
  width: 60%;
  font-size: 150%;
}

.hero {
  height: 300px;
  width: 300px;
  margin: 25px;
}

.code {
  height: 300px;
  width: 100%;
  margin: 10px 0;
}

.work-header {
  font-size: 300%;
  display: flex;
  margin: 10px;
  border-bottom: 15px solid var(--blue);
  justify-content: center;
}

.work-content {
  display: flex;
  flex-wrap: wrap;
}

.work  {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--back);
  margin: 15px;
  border-radius: 30px;
  color: white;
  align-items: center;
  width: 30%;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.work img {
  width: 250px;
  height: 200px;
}

.work div {
  background-color: var(--back);
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  }

.work h4 {
  background-color: var(--back);
  margin: 10px;
  text-align: center;
  width: 100%;
}

/* .work a {
  text-decoration: underline rgb(240, 4, 4);
  color: rgb(139, 167, 139);
  background-color: var(--back);
} */

.work div>* {
  background-color: var(--back);
}

.work article {
  background-color: var(--back);
  width: 50%;
  
}
.work p {
  display: inline-block;
  background-color: var(--back);
  margin: 15px;
  width: 40%;
}